html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 1.525rem
 }
 
 html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.925rem
 }
 
 .myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
    color: brown;
 }
